    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <div class="header-image" style="width=1280">
            <img src="{{ ASSET_PATH }}/images/header.png" height="200" width="1280"></img>
            <div class="header-text">RagdollPhysics</div>
        <div class="header-subtext">Everything you never wanted to know</div>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/projects.html">Projects</a>
            <a href="/posts.html">Posts</a>
            <a href="http://github.com/TheApadayo/">Github</a>
            <a href="http://www.youtube.com/user/TheApadayo">Youtube</a>
        </div>
    </head>