body
{
	background-color: #2D3035;
}

ul
{
    text-align: left;
}

img
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.header-image
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    z-index: -1;
}

.header-text
{
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}

.header-subtext
{
    position: absolute;
    bottom: 80px;
    width: 100%;
    color: #d6d6d6;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

.project-header1
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
}

.project-header2
{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
}

.content-area
{
	background-color: #ADADAD;
    display: block;
    min-height: 100%;
    width: 75%;
	margin-left: 12.5%;
	font-family: "Arial", Arial, serif;
	text-align: left;
    font-size: 14px;
    color: #2D3035;
    padding: 10px;
}

.content-area:after
{
    content: "";
    display: block;
}

.post-header
{
    text-align: center;
}

.navbar
{
	margin-left: 12.5%;
    margin-bottom: 5px;
}

.navbar > a
{
	color: #FFFFFF;
	font-size: 16px;
	font-family: monospace;
	text-decoration: none;
	margin-left: 5px;
}
.navbar > a:hover
{
	color: #C9C9C9;
}

.footer
{
    background-color: white;
    text-align: center;
}

/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
